.hidden-desktop { display: inherit !important; }
.visible-desktop { display: none !important; }
.hidden-tablet { display: inherit !important; }
.visible-tablet { display: none !important; }

.visible-phone { display: inherit !important;  }
.hidden-phone { display: none !important; }

#header h1 { text-indent: -1000px; }

#main #sidebar { width: 100%; box-sizing: border-box; border-image: none; float: left; border-radius: 5px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2); padding: 15px 30px 25px; background: #fafafa; margin-bottom: 20px; }

#main #content, #main.nosidebar div#content { width: 100%; box-sizing: border-box; float: left; }

.splitcontentleft { width: 100%; }
.splitcontentright { width: 100%; }

/* table related */
.controller-issues table.list thead tr 
{ position: absolute; top: -9999px; left: -9999px; }

.controller-issues table.list tr 
{ border: 1px solid #ccc; }

.controller-issues table.list td 
{ display: block; border: none !important; border-bottom: 1px solid #eee; position: relative; padding-left: 25% !important; width: auto !important; text-align: left;}

.controller-issues table.list td:before 
{ position: absolute; top: 6px; left: 6px; width: 20%; padding-right: 10px; white-space: nowrap; }

.controller-issues table.list td { padding: 6px 5px; min-height: 14px; }
.controller-issues table.list td:before { text-align: right; }

table.list td.id { text-align: left; }
